<form action="#" th:action="@{/view/warehouses/update}" th:object="${newWarehouse}" method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

    <!-- Hidden attributes for warehouse so that DateTime object would NOT be null after passing through template-->
    <input type="hidden" th:field="*{id}" id="id">
    <input type="hidden" th:field="*{createdDate}" id="createdDate">
    <input type="hidden" th:field="*{lastModifiedDate}" id="lastModifiedDate">

    <!-- Hidden relations for warehouse.inventories -->
    <div class="hidden-relation" style="display: none;">
        <select type="hidden" th:field="*{inventories}", id="inventories">
            <option th:each="key : ${inventoriesAsMap.keySet()}"
                    th:value="${key}"
                    th:utext="${inventoriesAsMap.get(key)}">
            </option>
        </select>
    </div>

    <input type="submit" value="Update Warehouse">
</form>