<table>
    <thead>
        <tr>
            <th> Id </th>
            <th> Name </th>
            <th> </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        <tr th:if="${warehouses.empty}">
            <td colspan="1"> No Warehouses Available </td>
        </tr>
        <tr th:each="warehouse : ${warehouses}">
            <td><span th:text="${warehouse.id}"> Id </span></td>
            <td><span th:text="${warehouse.name}"> Name </span></td>
            <td><a th:href="@{/view/warehouses/edit/{id}(id=${warehouse.id})}">Edit</a></td>
            <td><a th:href="@{/view/warehouses/remove/{id}(id=${warehouse.id})}">Remove</a></td>
        </tr>
    </tbody>
</table>

<a th:href="${@environment.getProperty('server.servlet.context-path')}">Home</a>